<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tagesschau Realtime Analysis Tool</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Tagesschau Realtime Analysis Tool</h1>


        Anzahl Artikel
        <h3>{{ length }}</h3>

        Zeitraum
        <h3>{{ minDate|formatdatetime('%d.%m.%Y') }} bis {{ maxDate|formatdatetime('%d.%m.%Y') }}</h3>

        Letzter Download
        <h3>{{ maxDate|formatdatetime('%d.%m.%Y %H:%M') }}</h3>

        <div class="accordion mt-4" id="accordionExample">
            {%for article in head%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ article['sophoraId'] }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ article['sophoraId'] }}" aria-expanded="false"
                        aria-controls="collapse-{{ article['sophoraId'] }}">
                        {{ article['title'] }}
                    </button>
                </h2>
                <div id="collapse-{{ article['sophoraId'] }}" class="accordion-collapse collapse"
                    aria-labelledby="#heading-{{ article['sophoraId'] }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-striped overflow-scroll">
                            <tbody>
                                {%for key in article.keys()%}
                                <tr>
                                    <th scope="col">{{ key }}</th>
                                    <td>{{article[key][:100] + '...' if article[key] is string else article[key]}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <!--
        <table class="table table-striped overflow-scroll">
            <thead>
                <tr>
                    {%for key in head[0].keys()%}
                    <th scope="col">{{key}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for article in head%}
                <tr>
                    {%for key in article.keys()%}
                    <td>{{article[key][:100] + '...' if article[key] is string else article[key]}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        -->
    </div>


    <!-- Bootstrap core JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js' ) }}></script>
</body>

</html>